@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body{
    background: linear-gradient(135deg,#153677, #4e085f);
}

@layer components{
    .btn{
        @apply bg-sky-300 rounded-md text-sky-800 font-bold border-none outline-none w-32 h-10 m-2 cursor-pointer;
    }
    .toastBox{
        @apply absolute p-4 bottom-0 right-1 sm:bottom-8 sm:right-8 flex items-end flex-col overflow-hidden sm:p-5 z-10;
    }
}
.toast{
    @apply relative w-auto h-auto bg-white font-medium sm:text-xl my-2 sm:my-4 mx-0 flex items-center justify-center p-3 text-green-500;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.toast::after{
    content: '';
    @apply absolute left-0 bottom-0 w-full h-1.5 bg-green-500;
    animation: anim 6s linear forwards;
}
@keyframes anim{
    100%{
        width: 0;
    }
}
.error{
    color: red;
}
.error::after{
    background-color: red;
}
.invalid{
    color: orange;
}
.invalid::after{
    background-color: orange;
}
.toast i{
    @apply mr-2;
}